## Preparing Backtest Results for Alphalens

In [ ]:
!pip install alphalens-reloaded

In [1]:
import warnings

In [2]:
import pandas as pd
from alphalens.utils import get_clean_factor_and_forward_returns
from IPython.display import Markdown, display

In [3]:
warnings.filterwarnings("ignore")

Load the mean reversion data

In [4]:
mean_reversion = pd.read_pickle("mean_reversion.pickle")

Construct a dataframe with symbols in the columns and dates in the rows for prices

In [5]:
prices = pd.concat(
    [df.to_frame(d) for d, df in mean_reversion.prices.dropna().items()], axis=1
).T

Convert column names to strings

In [6]:
prices.columns = [col.symbol for col in prices.columns]

Normalize Timestamp to midnight, preserving tz information

In [7]:
prices.index = prices.index.normalize()

Construct a dataframe with symbols in the columns and factor rank in the rows

In [8]:
factor_data = pd.concat(
    [df.to_frame(d) for d, df in mean_reversion.factor_data.dropna().items()], axis=1
).T

Convert column names to strings

In [9]:
factor_data.columns = [col.symbol for col in factor_data.columns]

Normalize Timestamp to midnight, preserving tz information

In [10]:
factor_data.index = factor_data.index.normalize()

Create a multiindex with date in level 0 and symbol in level 1

In [11]:
factor_data = factor_data.stack()

Rename the multiindexes

In [12]:
factor_data.index.names = ["date", "asset"]

Display factor data

In [13]:
display(factor_data)

date                       asset
2016-01-04 00:00:00+00:00  AAL      1156.0
                           AAPL     2547.0
                           ABBV      438.0
                           AET       893.0
                           AGN      1371.0
                                     ...
2017-12-29 00:00:00+00:00  ISRG     2449.0
                           DWDP     1277.0
                           ANTM     1510.0
                           PCG      2440.0
                           CBS       292.0
Length: 50275, dtype: float64

Compile the forward returns, factor rank, and factor quantile using Alphalens

In [14]:
alphalens_data = get_clean_factor_and_forward_returns(
    factor=factor_data, prices=prices, periods=(5, 10, 21, 63)
)

Dropped 12.5% entries from factor data: 12.5% in forward returns computation and 0.0% in binning phase (set max_loss=0 to see potentially suppressed Exceptions).
max_loss is 35.0%, not exceeded: OK!

Display Alphalens data

In [15]:
display(alphalens_data)

                                       5D       10D       21D       63D  \
date                      asset
2016-01-04 00:00:00+00:00 AAL    0.004155 -0.050110 -0.037399  0.041066
                          AAPL  -0.064737 -0.082487 -0.084670  0.054770
                          ABBV  -0.064746 -0.045478 -0.055893  0.027773
                          AET   -0.036061 -0.040454 -0.053908 -0.064800
                          AGN   -0.026344 -0.050997 -0.080561 -0.097310
...                                   ...       ...       ...       ...
2017-09-29 00:00:00+00:00 ADP    0.004595  0.004595  0.004595  0.004595
                          COL    0.011153  0.024537  0.035920  0.035920
                          BBY    0.059996  0.089902  0.089902  0.089902
                          EFX    0.025883  0.068132  0.037301  0.027976
                          SBAC   0.009967  0.044323  0.044323  0.044323

                                 factor  factor_quantile
date                      asset
2016-01-04 00:00:00+00:00 AAL    1156.0                3
                          AAPL   2547.0                5
                          ABBV    438.0                1
                          AET     893.0                2
                          AGN    1371.0                4
...                                 ...              ...
2017-09-29 00:00:00+00:00 ADP    1239.0                3
                          COL    2196.0                4
                          BBY    2486.0                5
                          EFX    2501.0                5
                          SBAC   2390.0                5

[43995 rows x 6 columns]

**Jason Strimpel** is the founder of <a href='https://pyquantnews.com/'>PyQuant News</a> and co-founder of <a href='https://www.tradeblotter.io/'>Trade Blotter</a>. His career in algorithmic trading spans 20+ years. He previously traded for a Chicago-based hedge fund, was a risk manager at JPMorgan, and managed production risk technology for an energy derivatives trading firm in London. In Singapore, he served as APAC CIO for an agricultural trading firm and built the data science team for a global metals trading firm. Jason holds degrees in Finance and Economics and a Master's in Quantitative Finance from the Illinois Institute of Technology. His career spans America, Europe, and Asia. He shares his expertise through the <a href='https://pyquantnews.com/subscribe-to-the-pyquant-newsletter/'>PyQuant Newsletter</a>, social media, and has taught over 1,000+ algorithmic trading with Python in his popular course **<a href='https://gettingstartedwithpythonforquantfinance.com/'>Getting Started With Python for Quant Finance</a>**. All code is for educational purposes only. Nothing provided here is financial advise. Use at your own risk.